<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gitpro.gitidea">
    <!-- don't need to be requested at runtime. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- .any means that it can be a front camera or a back camera. -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.GitProJx"
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:logo="@drawable/logos"
        android:networkSecurityConfig="@xml/network_sec_config"
        android:roundIcon="@drawable/logos"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitProJx"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.RepoActivity"
            android:exported="true"/>

        <activity
            android:name=".activities.DetailsActivity"
            android:exported="true"/>

        <activity
            android:name=".activities.DetailedActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.TopicActivity"
            android:exported="true"
            android:theme="@style/Theme.GitProJx.SlidrActivityTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/domain"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExploreActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gitpro.gitidea.activities.ExploreActivity" />
        </activity>
        <activity
            android:name=".activities.ProjectActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gitpro.gitidea.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".network.NotificationServices"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5071029187147320~6740297776"/>

    </application>

</manifest>